body {
    margin: 0;
    padding: 0;
}
.main1{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
    padding: 0%;
    margin: 0%;
    border: 0px;
}
#lavadae{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter: brightness(0.6);
}

.main11 img{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
    height: 40px;
    opacity: .81;
    filter: brightness(.5);
}
.main12{
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 10px;
    right: 10px;
}
.main12 select{
    position: absolute;
    top: 25px;
    right: 140px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    height: 35px;
    width: 130px;
    text-align: center;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: .7;
    cursor: pointer;
    padding: .5px;
    margin: 0%;
    align-items: center;

}
.main12 button{
    position: absolute;
    top: 25px;
    right: 40px;
    background-color: rgb(174, 39, 39);
    color: aliceblue;
    border: none;
    border-radius: 4px;
    height: 30px;
    width: 80px;
    text-align: center;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 1;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s,ease 0.3s;
}
.main12 button:hover{
    background-color: rgb(97, 23, 23,0.6);
    color: black;
    font-weight: bold;
    transform: scale(1.1);
    rotate: 5deg;
}
.main13{
    position: absolute;
    top: 250px;
    left: 25%;
    right: 25%;
    color: rgb(255, 255, 255);
    height: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main13 h1{
    position: absolute;
    top: 2px;
    font-size: 4vw;
    border: 0%;
    margin: 0%;
}
.main13 h4{
   position: absolute;
   top: 8vw;
    font-size: 1.7vw;
}
.main13 h5{
    position: absolute;
    bottom: 1vw;
    font-size: 1.5vw;
}
.main14{
    position: absolute;
    bottom: 50px;
    align-items: center;
    left: 25vw;
    right: 25vw;
    height: 40px;
}
.main14 input{
    position: absolute;
    width: 60%;
    height: 50px;
    background-color: rgb(0, 0, 0,.9);
    cursor: text;
    color: rgb(216, 191, 216,0.9);
    font-size: larger;
    border: none;
    padding-left: 20px;
    border-radius: 8px;
    top: -70px;
}
.main14 button{
    position: absolute;
    width: 30%;
    height: 45px;
    background-color: rgb(192, 47, 47,1.9);
    cursor: pointer;
    color: rgb(255, 255, 255,1.5);
    font-size: larger;
    border: 0px;
    border-radius: 8px;
    top: -68px;
    left: 65%;
    transform: rotate(1deg),scale(1.5),opacity(0.9),ease 0.3s;
    }
.main14 button:hover{
    background-color: rgba(135, 26, 26, 0.6);
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.main2{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    position: relative;
    padding: 0%;
    margin: 0%;
    top: 0px;
    border: 1px solid rgb(0, 0, 0);
}
.main2 h4{
    position: absolute;
    top: -10px;
    left: 70px;
    font-size: 5vh;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

#img1{
    position: absolute;
    top: 70px;
    background-color: aliceblue;
    height: 250px;
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    left: 20px;
}

#img2{
    position: absolute;
    top: 70px;
    background-color: aliceblue;
    height: 250px;
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    left: 255px;
}

#img3{
    position: absolute;
    top: 70px;
    background-color: aliceblue;
    height: 250px;
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
    left: 490px;
    transition: transform 0.3s, box-shadow 0.3s;
}
#img4{
    position: absolute;
    top: 70px;
    background-color: aliceblue;
    height: 250px;
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
    left: 720px;
    transition: transform 0.3s, box-shadow 0.3s;
}

#img5{
    position: absolute;
    top: 70px;
    background-color: aliceblue;
    height: 250px;
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
    left: 950px;
    transition: transform 0.3s, box-shadow 0.3s;
}

#img6{
    position: absolute;
    top: 70px;
    background-color: aliceblue;
    height: 250px;
    width: 200px;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
    left: 1190px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.main22{
    position: absolute;
    top: 40px;
    left: 30px;
    height: 350px;
    width: 95%;
    transition: scale 0.3s,ease 0.3s,cursor pointer,border-radius 10px,border 1px solid grey;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    top: 2px;
    border: 0px;
}
#img1:hover, #img2:hover, #img3:hover, #img4:hover, #img5:hover, #img6:hover{
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 2px solid grey;
}
.main23{
    top: 320px;
    position: absolute;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    left: 70px;
    font-size: 3vh;
}
.main24{
    position: absolute;
    top: 400px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    left: 70px;
    font-size: 3vh;
    background-color: rgb(27, 44, 96);
    height: 300px;
    width: 20%;
    align-items: center;
    border-radius: 10px;
    flex: content;
    flex-direction: column;
    padding-left: 20px;
}
.main25{
    position: absolute;
    top: 400px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    left: 430px;
    font-size: 3vh;
    background-color: rgb(27, 44, 96);
    height: 300px;
    width: 20%;
    align-items: center;
    border-radius: 10px;
    flex: content;
    flex-direction: column;
    padding-left: 20px;
}
.main26{
    position: absolute;
    top: 400px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    left: 780px;
    font-size: 3vh;
    background-color: rgb(27, 44, 96);
    height: 300px;
    width: 20%;
    align-items: center;
    border-radius: 10px;
    flex: content;
    flex-direction: column;
    padding-left: 20px;
}
.main27{
    position: absolute;
    top: 400px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    left: 1130px;
    font-size: 3vh;
    background-color: rgb(27, 44, 96);
    height: 300px;
    width: 20%;
    align-items: center;
    border-radius: 10px;
    flex: content;
    flex-direction: column;
    padding-left: 20px;
}
.kuthu{
    color: grey;

}